   # Analise the Global Shark Attaks.

### 1º: Import all the libraries that i will need use to clean the DataSet.

In [1]:
import numpy as np
import pandas as pd
import re

### 2º: Import the DataSet from Kaggle. The Global Shark Attacks.

In [120]:
data = pd.read_csv("../data/attacks.csv",encoding = "ISO-8859-1")
data
data.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,...,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN

### 3º: Start to explore the data from the DataSet.

In [5]:
data.shape

(25723, 24)

In [6]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [235]:
data.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

### 4º: Start to clean the dataframe to select all data for my hypothesis. I will select the date/year, country,activity and sex.

In [7]:
data1 = data.loc[:6301]
#Elegido hasta la fila 6301 porque las demás no tienen datos.

In [223]:
data2 = data1.drop(columns=["Unnamed: 23","Unnamed: 22","href formula"],inplace= False)
#De primeras he elimnado las columnasque no van a ser necesarias para el análisis.

In [236]:
#A continuación voy a limpiar la columna fecha
date_new = data2["Date"]

In [226]:
str_date = ",".join(date_new)

In [257]:
pattern = r'(\d\d-\w+-\d{4}|\w+-\d{4}|\d{4})'
date_search = re.findall(pattern,str_date)

In [256]:
new_date = pd.Series(date_search)
data2["Date"] = new_date
#Voy a tener que eliminar la siguiente columna porque agrege la fecha en una nueva columna
#y en verdad la quería sustituar por la columna actual. 
data3 = data2.drop(columns="new_dates")

In [258]:
data3

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,19-Jul-1913,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,1911,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1862,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1906,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1906,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [276]:
#A continuación voy a filtar el dataframe por la fecha del ataque y el año.
data4 = data3.sort_values("Date")
len(data4)

6302

In [290]:
index =range(1,6303)
index

range(1, 6303)

In [292]:
data4.index = pd.Series(index)
data4

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,Case Number.1,Case Number.2,original order
1,1934.02.22,01-Apr-1934,1934.0,Unprovoked,CHILE,Elqui Province,Coquimbo,Fell into the water,a soldier,M,...,FATAL,Y,NaN,NaN,"Los Angeles Times, 2/23/1934, p.20",1934.02.22-Soldier-Chile.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.02.22,1934.02.22,1355.0
2,1934.01.08.R,01-Apr-1934,1934.0,Boating,TURKEY,Istanbul,"Haydarpasa jetty, Istanbul",Fishing,2 males,M,...,No injury,N,NaN,NaN,"C. Moore, GSAF",1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.02.08.R,1934.02.08.R,1354.0
3,1934.02.24,01-Apr-1934,1934.0,Unprovoked,AUSTRALIA,Torres Strait,Adolphus Channel,Splashing in water,"Rixon, an aboriginal",M,...,"Lacerated knee & foot, deep puncture wounds",N,12h00,3.4 m [11'] tiger shark & a 5' shark,"V.M. Coppleson (1958), p.243",1934.02.24-Rixon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.02.24,1934.02.24,1356.0
4,1960.04.00.c,01-Apr-1960,1960.0,Unprovoked,FIJI,Vanua Levu,Off the Bua coast,Fishing in shoulder-deep water,Fijian woman,F,...,"FATAL, legs bitten",Y,NaN,NaN,"Wellington Evening Post, 4/29/1960",1960.04.00.c-woman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.04.00.c,1960.04.00.c,2299.0
5,1972.04.01.a,01-Apr-1972,1972.0,Unprovoked,MOZAMBIQUE,Gaza,Xai Xai,Swimming,Richard George Wilson,M,...,FATAL,Y,17h00,NaN,Note: The Johannesburg Star initially recorded...,1972.04.01.a-Wilson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1972.04.01.a,1972.04.01.a,2966.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6298,2015.09.00,Sep-2015,2015.0,Unprovoked,FIJI,NaN,NaN,Spearfishing,Viliame Lautiki,M,...,Leg bitten,N,NaN,Tiger shark,"Fiji Times, 2/8/2016",2015.09.00-Lautiki.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.09.00,2015.09.00,5933.0
6299,2016.09.00,Sep-2016,2016.0,Invalid,MEXICO,NaN,Guadalupe Island,Cage Diving,NaN,NaN,...,"No injury to divers, white shark breached cage",NaN,NaN,Invalid,K. Yonker,2016.09.00-Breach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.00,2016.09.00,6077.0
6300,2017.09.14,Sep-2017,2017.0,Boating,AUSTRALIA,Westerm Australia,Esperance,Fishing,NaN,NaN,...,"sharks rammed boats, no injury to occupants",N,NaN,"White shark, 3.5m","B. Myatt, GSAF",2017.09.14-EsperanceBoats.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.14,2017.09.14,6217.0
6301,2008.00.00.a,Summer-2008,2008.0,Unprovoked,MEXICO,Baja California,Playas de Tijuana,Surfing,Chase Edwards,M,...,Leg bitten,N,NaN,Possibly a hammerhead shark,"San Diego Reader, 1/7/2009",2008.00.00.a-Edwards.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.00.00.a,2008.00.00.a,5004.0
6302,1874.02.15,mid-1870,1874.0,Sea Disaster,TUVALU,NaN,Between Nanumea & Nanumaga Atolls,Fleet of canoes caught by a squall and charged...,NaN,NaN,...,"2 people out of +70 survived, one of whom was ...",Y,Night,NaN,"Otago Witness, 10/28/1897",1874.02.15-Tuvalu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.02.15,1874.02.15,415.0

In [293]:
data4[data4["Year"].isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,Case Number.1,Case Number.2,original order
1276,2017.01.08.R,08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,...,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0
6019,1836.08.19.R,Dec-1840,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,...,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0

In [296]:
data4["Year"][1276] = 2017

<ipython-input-296-281e61e8c5db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4["Year"][1276] = 2017

In [298]:
data4["Year"][6019] = 1840

<ipython-input-298-0aea86e266f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4["Year"][6019] = 1840

In [300]:
data4[data4["Year"].isnull()]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href, Case Number.1, Case Number.2, original order]
Index: []

[0 rows x 21 columns]

In [318]:
year = data4["Year"].apply(lambda x: int(x))
data4["Year"] = year
data4["Year"].value_counts()

2015    143
2017    137
2016    130
2011    128
2014    127
       ...
1786      1
1758      1
1742      1
1738      1
1554      1
Name: Year, Length: 249, dtype: int64

In [319]:
data4.isnull().sum()

Case Number                  1
Date                         0
Year                         0
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [361]:
data6 = data4.drop(columns=["Case Number","Type","Area","Location","Name","Age","Injury","Time","Investigator or Source","pdf","href","Case Number.1","Case Number.2","original order",],inplace= False)
data7 = data6.drop(columns=["Species "],inplace= False)

array(['M', 'F', nan, 'lli', 'M ', '.', 'N'], dtype=object)

In [458]:
data7
data10 = data7.drop(columns=["Activity"],inplace= False)

In [459]:
#Clean Columns of Sex
data10["Sex "].unique()

array(['M', 'F', nan, 'lli', 'M ', '.', 'N'], dtype=object)

In [460]:
data10[data10["Sex "] == "M "] = "M"
data10[data10["Sex "] == "lli"] = "Null"
data10[data10["Sex "] == "."] = "Null"
data10[data10["Sex "] == "N"] = "Null"
data10["Sex "].unique()

array(['M', 'F', nan, 'Null'], dtype=object)

In [461]:
#Clean Columns of Fatal (Y/N)
data10["Fatal (Y/N)"].unique()

array(['Y', 'N', nan, ' N', 'UNKNOWN', '2017', 'Null', 'M', 'N ', 'y'],
      dtype=object)

In [463]:
data10[data10["Fatal (Y/N)"] == " N"] = "N"
data10[data10["Fatal (Y/N)"] == "UNKNOWN"] = "Null"
data10[data10["Fatal (Y/N)"] == "2017"] = "Null"
data10[data10["Fatal (Y/N)"] == "M"] = "N"
data10[data10["Fatal (Y/N)"] == "y"] = "Y"
data10[data10["Fatal (Y/N)"] == "N "] = "N"
data10["Fatal (Y/N)"].unique()

array(['Y', 'N', nan, 'Null'], dtype=object)

In [470]:
# A continuació elimniaré aquellos datos que están vacíos en sex y fatal.
null_data = data10[data10["Sex "] == data10["Fatal (Y/N)"]]
null_data.index

Int64Index([  34,  143,  145,  146,  342,  571,  591,  639,  743,  826,  866,
            1003, 1135, 1224, 1366, 1590, 1597, 1652, 1663, 1867, 1877, 2261,
            2320, 2348, 2365, 2412, 2536, 2626, 2673, 2702, 2716, 2766, 2781,
            2782, 2878, 2951, 3004, 3006, 3008, 3009, 3023, 3051, 3129, 3165,
            3178, 3430, 3563, 3566, 3639, 3673, 3681, 3768, 3802, 3821, 3836,
            3868, 3925, 4082, 4154, 4225, 4291, 4306, 4347, 4374, 4412, 4575,
            4673, 4960, 4993, 5033, 5105, 5110, 5128, 5150, 5186, 5197, 5320,
            5329, 5455, 5549, 5560, 5581, 5694, 5952, 6035, 6078, 6223, 6287],
           dtype='int64')

In [486]:
data11 = data10.drop(axis=0,index=null_data.index)

In [500]:
data11.dropna(axis=0, subset=['Sex ','Fatal (Y/N)'],inplace= True)

In [506]:
data11.value_counts(subset=["Date"])

Date
1950           15
1960           12
1958           11
1957           11
1942            9
               ..
12-Nov-2013     1
12-Oct-1921     1
12-Oct-1927     1
12-Oct-1942     1
Summer-2008     1
Length: 4409, dtype: int64

In [507]:
len(data11)

5220

In [518]:
index2 = range(1,5221)
data11.index = index2
data_clear = data11.rename(columns={"Sex ":"Sex","Fatal (Y/N)":"Fatal"})
len(data_clear)

5220

In [526]:
#A contuniación voy a limpiar por mes y año.
moth_year = data_clear["Date"]
str_moth_year = ",".join(moth_year)
pattern = r'(\w+-\d{4}|\d{4})'
str_moth_year_search = re.findall(pattern,str_moth_year)
len(str_moth_year_search)
new_moth_year = pd.Series(str_moth_year_search)
data_clear["Date"] = new_moth_year
new_moth_year

TypeError: sequence item 5219: expected str instance, float found

In [552]:
data_clear["Date"][5220] = "2018"
data_clear["Date"][5220]

'2018'

In [565]:
moth_date = data_clear["Date"]
list_moth_str = ",".join(moth_date)
len(list_moth_str)
pattern = r'(\D+)'
str_moth_search = re.findall(pattern,list_moth_str)
len(str_moth_search)

5237

In [570]:
mon_search = pd.Series(str_moth_search)
data_clear["Date"] = mon_search

    Date  Year     Country Sex Fatal
1  ,Apr-  1934       CHILE   M     Y
2  ,Apr-  1934      TURKEY   M     N
3  ,Apr-  1934   AUSTRALIA   M     N
4  ,Apr-  1960        FIJI   F     Y
5  ,Apr-  1972  MOZAMBIQUE   M     Y

In [574]:
df= data_clear.rename(columns={"Date":"Moth"})

In [583]:
data_clear1 = data_clear.rename(columns={"Date":"Moth"})

### limpiar los años

In [584]:
data_clear1.head(5)

    Moth  Year     Country Sex Fatal
1  ,Apr-  1934       CHILE   M     Y
2  ,Apr-  1934      TURKEY   M     N
3  ,Apr-  1934   AUSTRALIA   M     N
4  ,Apr-  1960        FIJI   F     Y
5  ,Apr-  1972  MOZAMBIQUE   M     Y

In [591]:
no_year = data_clear1[data_clear1["Year"] == 0]
no_year.index

Int64Index([1083, 2219, 2220, 2221, 2222, 2371, 2372, 2373, 2374, 2375,
            ...
            4947, 4989, 4990, 5031, 5045, 5135, 5146, 5153, 5154, 5200],
           dtype='int64', length=115)

In [593]:
data_clear1.drop(axis=0, index=no_year.index, inplace= True )
data_clear1

KeyError: '[1083 2219 2220 2221 2222 2371 2372 2373 2374 2375 2427 2499 2502 2672\n 2689 2698 2793 2794 2813 2867 2870 2872 2873 2881 2882 2883 2885 2888\n 2890 2894 2895 2896 2901 2902 2904 2908 2912 2913 2914 2916 2923 2927\n 2935 2941 2942 2943 2944 2951 2957 2958 2960 2962 2970 2971 2972 2973\n 2974 2990 2995 3020 3021 3023 3028 3048 3049 3060 3062 3066 3067 3068\n 3069 3074 3084 3085 3086 3088 3089 3094 3098 3100 3101 3102 3103 3104\n 3106 3108 3118 3134 3135 3162 3163 3172 3179 3310 3311 3312 3314 3318\n 3319 3321 3322 3325 3326 3328 3333 4947 4989 4990 5031 5045 5135 5146\n 5153 5154 5200] not found in axis'

In [660]:
data_clear1.sort_values(by="Year")

       Moth  Year                   Country Sex Fatal
2487      ,  1543                 VENEZUELA   M     Y
720   ,Apr-  1580  Between PORTUGAL & INDIA   M     Y
2488      ,  1642                       USA   M     Y
2490      ,  1700                    FRANCE   M     N
2491      ,  1700                    FRANCE   M     Y
...     ...   ...                       ...  ..   ...
1856  ,Nov-  2018                       USA   M     N
1855  ,May-  2018                   ENGLAND   M     N
4603  ,Sep-  2018                  THAILAND   M     N
4802  ,Jul-  2018                       USA   M     N
2105  ,Jan-  2018                 AUSTRALIA   M     N

[5067 rows x 5 columns]

In [599]:
data_clear1.drop(axis=0, index=2498, inplace=True)
data_clear1.drop(axis=0, index=2500, inplace=True)

KeyError: '[2498] not found in axis'

In [605]:
data_clear1
data_clear1.index = range(1,5104)
data_clear1.sort_values(by="Year")
data_clear1.drop(axis=0, index=4095, inplace=True)

ValueError: Length mismatch: Expected axis has 5102 elements, new values have 5103 elements

In [631]:
data_clear1.dropna(axis=0,subset="Country")

TypeError: Index(...) must be called with a collection of some kind, 'Country' was passed

In [648]:
data_clear1.drop(data_clear1[data_clear1["Country"].isnull()].index,inplace=True)

In [681]:
data_clear2 = data_clear1.sort_values(by="Year", ascending=False)
data_clear3 = data_clear2[:1157]
len(data_clear3)

1157

In [705]:
data_clear6 = data_clear3.drop_duplicates()
len(data_clear6)
data_clear6.index = range(0,679)
data_clear6

      Moth  Year       Country Sex Fatal
0    ,Jul-  2018     AUSTRALIA   M     N
1    ,Nov-  2018           USA   M     N
2    ,May-  2018     AUSTRALIA   M     N
3    ,Feb-  2018     AUSTRALIA   M     N
4    ,Sep-  2018      THAILAND   M     N
..     ...   ...           ...  ..   ...
674  ,Oct-  2008           USA   M     N
675  ,Dec-  2008  SOUTH AFRICA   M     N
676  ,Feb-  2008     AUSTRALIA   F     N
677  ,May-  2008           USA   M     N
678  ,Jul-  2008        PANAMA   M     N

[679 rows x 5 columns]

### 6º: Export the dataframe

In [706]:
data_clear6.to_csv("data_clean.csv",index=False)

### In this explaration I observed: 
- That the column of "Case Number" is wrong because are dates and no numbers. And I need to replace with the column of "original order".
- From row x there is no type of data. Therefore they should be removed.
- The columns "href formula" and "href" are the same. So i choice one of them.
- The columns "Case Number.1" and "Case Number.2" are wrong. It´s the same that happend to the column of "Case Number".
- And the columns "Unnamed: 22" and "Unnamed: 23" are empty.